@model Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />

<form method="post" asp-action="Update" asp-controller="Product">
    
    <input type="hidden" name="ProductId" id="ProductId" value="@Model.ProductId"/>

    <p>
        <label>Name : </label>
        <input asp-for="Name" />
    </p>
    <p>
        <label>Description : </label>
        <input asp-for="Description" />
    </p>
    <p>
        <label>Price : </label>
        <input asp-for="Price" />
    </p>
    <p>
        <label>Category : </label>
        <input asp-for="Category" />
    </p>
    <p>
        <label>Stok : </label>
        <input asp-for="Stok" />
    </p>

    <input type="submit" value="Update" />
</form>