
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide-shm
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide-wal
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide
CoreProjects/.vs/CoreProjects/DesignTimeBuild/.dtbcache
CoreProjects/.vs/CoreProjects/v16/.suo
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide-shm
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide-wal
CoreProjects/BlogApp.Data/obj/Debug/netcoreapp3.1/BlogApp.Data.csprojAssemblyReference.cache
CoreProjects/BlogApp.WebUI/bin/Debug/netcoreapp2.2/BlogApp.WebUI.dll
CoreProjects/BlogApp.WebUI/bin/Debug/netcoreapp2.2/BlogApp.WebUI.pdb
CoreProjects/BlogApp.WebUI/obj/Debug/netcoreapp2.2/BlogApp.WebUI.csprojAssemblyReference.cache
CoreProjects/BlogApp.WebUI/obj/Debug/netcoreapp2.2/BlogApp.WebUI.dll
CoreProjects/BlogApp.WebUI/obj/Debug/netcoreapp2.2/BlogApp.WebUI.pdb
CoreProjects/Core.EntityFrameWork/obj/Debug/netcoreapp2.2/Core.EntityFrameWork.csprojAssemblyReference.cache
CoreProjects/.vs/CoreProjects/v16/.suo
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide-wal
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide-shm
CoreProjects/.vs/CoreProjects/v16/Server/sqlite3/storage.ide
CoreProjects/.vs/CoreProjects/v16/.suo
CoreProjects/.vs/CoreProjects/v16/.suo
